<!DOCTYPE html>
 @{
    CloudSalesEntity.Users CurrentUser = (CloudSalesEntity.Users)Session["ClientManager"];
    string action = Url.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    string logo = string.IsNullOrEmpty(CurrentUser.Client.Logo) ? "/modules/images/ico-home.png" : CurrentUser.Client.Logo;
    string companyName = string.IsNullOrEmpty(CurrentUser.Client.CompanyName) ? "" : CurrentUser.Client.CompanyName;
}
<html>
<head> 
    <link href="/modules/css/base.css" rel="stylesheet" /> 
    <link href="/modules/css/index.css" rel="stylesheet" />
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/modules/images/logo_login.png">
    @RenderSection("css", false)
      
</head>
<body > 
    <div class="main-body"> 
            <div class="accountMenu left mTop10">
                <ul class="accountUl" >
                    <li class="@("INDEX"==action ? "active left " : "left ")">
                         <span id="movespan"></span>
                        <a href="/MyAccount/Index">基本信息</a> 
                       
                    </li>
                    <li class="@("ACCOUNT"==action ? "active left " : "left ")">
                        <a href="/MyAccount/Account">账号设置</a>  
                    </li>
                    <li  class="@("SETAVATAR"==action ? "active left " : "left ")">
                        <a href="/MyAccount/SetAvatar">设置头像</a>  
                    </li>
                    <li class="@("SETPASSWORD"==action ? "active left " : "left ")">
                        <a href="/MyAccount/SetPassWord">重置密码 </a> 
                    </li>
                    <li class="@("MYFEEDBACK"==action ? "active left " : "left ")">
                        <a href="/MyAccount/MyFeedBack">我的反馈</a>                   
                    </li>
                </ul> 
            </div> 
            @RenderBody()
    </div> 
    <input id="aaaa" type="hidden" value="@(action)">
        @*<div class="feedback">意见反馈</div>*@
    <input id="feedback-filepath" type="hidden" />
    <input id="txt_username" value="@CurrentUser.Name" type="hidden" />
    <input id="txt_usermobilephone" value="@CurrentUser.MobilePhone" type="hidden" />
    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js?v=20160617"></script>
    <script type="text/javascript">
        seajs.use(["scripts/layout", "scripts/index"], function (layout, index) {
            layout.init();
            index.init();
        });   
    </script>
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#movespan").css("left", "0px");
            var lastcenter = $('#lastcenter', parent.document).val();
            if (typeof (lastcenter) == "undefined") {
                $('#currentUser', parent.document).html($('#currentUser', parent.document).html() + "<input id='lastcenter' type='hidden' value='1' />");
                lastcenter = 1;
            } else {
                $("#movespan").css("left", getmenuindex($('#lastcenter', parent.document).val()) + "px");
            }
            $("#movespan").show();
            switch ($('#aaaa').val()) {
                case "INDEX":
                    movespan(lastcenter, 1);
                    $('#lastcenter', parent.document).val(1);
                    break;
                case "ACCOUNT":
                    movespan(lastcenter, 2);
                    $('#lastcenter', parent.document).val(2);
                    break;
                case "SETAVATAR":
                    movespan(lastcenter, 3);
                    $('#lastcenter', parent.document).val(3);
                    break;
                case "SETPASSWORD":
                    movespan(lastcenter, 4);
                    $('#lastcenter', parent.document).val(4);
                    break;
                case "MYFEEDBACK":
                    movespan(lastcenter, 5);
                    $('#lastcenter', parent.document).val(5);
                    break;
            }
        });

        function getmenuindex(elem) {
            switch (elem) {
                case "INDEX":
                case "1":
                    return 10;
                case "ACCOUNT":
                case "2":
                    return 120;
                case "SETAVATAR":
                case "3":
                    return 240;
                case "SETPASSWORD":
                case "4":
                    return 360;
                case "MYFEEDBACK":
                case "5":
                    return 480;
                default:
                    return 10;
            }
        }

        function movespan(a, b) {
            if (a == b) {
                return;
            }
            var c = setleft(a, b);
            $("#movespan").animate({ left: c + "px" }, {
                queue: false,
                duration: 500,
                complete: function () {
                    $("#movespan").css("left", c + "px");
                }
            });
        }

        function setleft(a, b) {
            return parseInt($("#movespan").css("left").replace("px", "")) + $(".accountUl li").eq(b - 1).offset().left - $(".accountUl li").eq(a - 1).offset().left;
        }
</script> 
    @RenderSection("scripts", false)
</body>
    
</html>
