@{

}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="robots" content="noindex,nofollow">
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />

    @RenderSection("css", false)
</head>
<body style="margin: 0;padding: 0;">
    <div style="width: 100%;">
        <div class="divcenter">
            <div style="height:40px; line-height: 35px;">
                <div title="云销科技" class="left">云销科技</div>
                <div class="right">
                    <ul class="right menuul">
                        <li class="right">我的信息</li>
                        <li class="right">采购订单</li>
                        <li class="right">| &nbsp; <a class="right mRight20" style="color: #999" href="@(ViewBag.Url)/Default/Index" title="进入系统">进入系统</a></li>
                        <li class="right">联系客服</li>
                        <li class="right">帮助中心</li> 
                    </ul>

                </div>
            </div>
        </div>

           @* <div class="left" id="imglogo">
                <span class="left mTop10">
                        <img src="@(!string.IsNullOrEmpty(((CloudSalesEntity.Manage.Clients) ViewBag.Client).Logo) ? ((CloudSalesEntity.Manage.Clients) ViewBag.Client).Logo : "/modules/mall/images/ico-cmlogo.png")" style="width: 60px; height: 60px;"/></span>
                <span class="left mTop20 " style="">
                        <a class="font16">@(((CloudSalesEntity.Manage.Clients) ViewBag.Client).CompanyName)</a><br />
                        <a class="font9 tRight mLeft30 lineHeight30" style="font-style: italic; letter-spacing: 3px;">&nbsp;  &nbsp;采购-管理就是如此简单</a>
                    </span>
            </div>
            <a class="right mRight10 pTop5" style="color: #4B9CEE" id="cgbtn" title="查看历史采购单">[采购订单]</a>
            <a class="right mRight10 pTop5" style="color: #4B9CEE" id="myself" title="进入个人中心">[@(((CloudSalesEntity.Users) Session["ClientManager"]).Name)]</a>
            <div class="searth-module right mRight50 mTop30" data-text="款号/名称模糊搜索..." data-width="180"></div>
            <a class="right mRight20 pTop5" style="color: #4B9CEE" href="@(ViewBag.Url)/Default/Index" title="返回二当家">[返回]</a>
            <div class="clear"></div>*@
       
    </div>

    @RenderBody()


    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js?v=@(ExpandClass.Version)"></script>

    @RenderSection("scripts", false)
    <footer style="width: 100%;height: 50px; position:fixed ;background-color: #434443; bottom: 0px; ">
        <div class="right mRight30 mTop20" style="color: #fff;">
            ©2016云销科技 沪ICP备 1999888 号
        </div>
    </footer>
</body>

</html>
