@{
    CloudSalesEntity.Users CurrentUser = (CloudSalesEntity.Users)Session["ClientManager"];
    var catogoryid = string.IsNullOrEmpty(ViewBag.CategoryID) ? "" : ViewBag.CategoryID;
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="robots" content="noindex,nofollow">
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />

    @RenderSection("css", false)
</head>
<body id="stylebody" style="margin: 0;padding: 0; min-height: 100%;">
    <div class="header">
        <div class="divcenter">
            <div style="height: 40px; line-height: 40px;">
                <div title="云销科技" class="left" style="color: #e48a32; cursor: pointer;">
                    <a href="http://yunxiaokeji.com/" >
                        <span class="iconfont left" style="color: #e48a32; font-size: 18pt;">&#xe65e;</span><span class=" mTop5 lineHeight30 left font16" style="color: #e48a32;">二当家</span>
                    </a>
                </div>
                <div class="right">
                    <ul class="right menuul">
                        <li class="right userinfo" id="userinfo">
                            <span class="left spanimg mTop5 mRight5">
                                <img class="img" src="@(string.IsNullOrEmpty(CurrentUser.Avatar) ? "/modules/images/defaultavatar.png" : CurrentUser.Avatar)"/>
                            </span>
                            <a class="left" title="我的信息">@CurrentUser.Name</a>
                            <span class="left dropdown">
                                <span class="dropdown-top"></span> 
                            </span>
                        </li>
                        <li class="right">
                            <span class="left iconfont mTop1 mRight1">&#xe65c;</span>
                            <a class="left" id="purchaseurl" title="查看历史采购单">采购订单</a>
                        </li>
                        <li class="right">
                             <span class="left iconfont mTop1 mRight1">| &#xe65d;</span>
                            <a class="left" href="@(ViewBag.Url)/Default/Index" style="font-size: 12px;" title="进入系统">
                                进入系统
                            </a></li>
                        <li class="right"><a href="http://yunxiaokeji.com/About/About#map">联系客服</a></li>
                        @*<li class="right"><a href="http://yunxiaokeji.com/">帮助中心</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div style="width: 100%; ">
    <div class="divcenter">
        <div style="height: 100px;">
            <div class="left mTop30" id="imglogo"> 
                <div class="left" id="providerinfo" style=" line-height: 40px;">
                    <div class="font18 color666 pcompanyName"></div>
                    <div class="providerdiv hide pBottom10 pTop10">
                        @*<div class="top-lump" style="top:-10px; left: 125px;"></div>*@
                        <ul class="seachul">
                            <li title="公司名称">
                                <div class="left mTop3 ">
                                    <img src="/modules/images/ico-provider.png" style="width: 16px; height: 16px; display: inline-block;">
                                </div>
                                <div class="left mLeft5 pcompanyName font10">
                                </div>
                            </li>
                            <li title="联系信息">
                                <div class="left mTop3 ">
                                    <img src="/modules/images/ico-usernum.png" style="width: 16px; height: 16px; display: inline-block;">
                                </div>
                                <div class="left mLeft5 pname">
                                </div>
                            </li>
                            <li title="地址">
                                <div class="left mTop3 ">
                                    <img src="/modules/images/ico-address.png" style="width: 16px; height: 16px; display: inline-block;">
                                </div>
                                <div class="left mLeft5" id="pcityname" style="color: #000; width: 220px;">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
            <div class="right mRight20">
                    <ul class="creditul">
                        <li>
                            <p class="font16 center colorfff mTop10">优质</p>
                            <p class="center colorfff mTop10" style="font-size: 10px;-webkit-transform:scale(0.8);">CREDIT</p>
                            <span class="sanjiao triangle-up"></span>
                        </li>
                        <li>
                            <p class="font16 center colorfff mTop10" style="">服务</p>
                            <p class=" center colorfff mTop10" style="font-size: 10px;-webkit-transform:scale(0.8);">SERVICE</p>
                            <span  class="sanjiao triangle-up"></span>
                        </li>
                         <li>
                            <p class="font16 center colorfff mTop10" >平价</p>
                            <p class="center colorfff mTop10" style="text-align: center;font-size: 10px;-webkit-transform:scale(0.8);">DISCOUNT</p>
                            <span  class="sanjiao triangle-up"></span>
                        </li>
                    </ul>
                </div>
        </div>
        
    </div>
</div>
 
<div style="width: 100%; background-color: #f39b4d; ">
    <div class="divcenter" style="height: 40px;">
        <div class="left" id="categoryContent">
            <div class="divcategory hide mtop30"></div>
            <div class="header-title left pLeft10 hover categoryMenu " data-id="" id="spanCategory">所有类目</div>

        </div>
        <div class="searth-module right mTop5" data-text="款号/名称模糊搜索..." data-width="300"></div>
    </div>
</div> 

    @RenderBody()
    
    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js?v=@(ExpandClass.Version)"></script>
    <script type="text/javascript">
         seajs.use(["/modules/mall/scripts/layout"], function (obj) {
             obj.init('@ViewBag.ClientID', '@(catogoryid)');
         });
    </script>
    @RenderSection("scripts", false)
<footer style="width: 100%; height: 50px; position: relative; background-color: #434443; bottom: 0px;">
    <input id="ipturl" type="text" hidden="hidden" class="hide" value="@(ViewBag.Url)"/> 
    <div class="right mRight30 mTop20" style="color: #fff;">
        ©2016云销科技 沪ICP备 1999888 号
    </div>
</footer>
<div id="qrcodediv" class="qrcodediv hide">
    <span style="position: absolute;top :2px; right: 2px;" class="iconfont" title="关闭">&#xe628;</span>
    <p class="mTop10 center lineHeight30 font16">请使用手机扫描下单</p>
    <img id="qrcode" style="width: 200px; height: 200px; margin-left: 40px;" src=""/>
</div>

<div class="dropdown-userinfo hide">
    <div class="top-lump"></div>
    <ul class="items-list">
        <li class="item"><a href="@(ViewBag.Url)/MyAccount/Index?&name=个人中心">个人中心</a></li>
        <li class="item"><a href="@(ViewBag.Url)/Home/Logout">安全退出</a></li>
    </ul>
</div>
</body>

</html>
