@{
    ViewBag.Title = "新建报溢单";
    var ware = (CloudSalesEntity.WareHouse)ViewBag.Ware;
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/stock/createoverflow"], function (obj) {
            obj.init('@(ware.WareID)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">新建报溢单</span>
    <a class="btn-back right" href="/Stock/Overflow">返回</a>
</div>
<div class="content-body mTop20">
     <ul class="table-add">
        <li>
            <span class="column-title">仓库：</span>
            @ware.Name
        </li>
        <li>
            <span class="column-title">备注：</span> 
            <span">
                 <textarea id="remark" class="width310"></textarea>
            </span>
           
        </li>
    </ul>
</div>
<div class="tab-nav mTop30">
    <ul class="tab-nav-ul left">
        <li class="hover" data-id="navRemark">产品明细</li>
    </ul>
    <div class="btn right" id="btnChooseProduct">添加报溢产品</div>
</div>
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header">
            <td class="tLeft">产品名称</td>
            <td class="tLeft">规格</td>
            <td class="">单位</td>
            <td class="center">数量</td>
            <td class="center width80">删除</td>
        </tr>
        @foreach (var model in (List<CloudSalesEntity.ProductDetail>)ViewBag.Items)
        { 
            <tr class="item cart-item" data-autoid="@(model.AutoID)" data-id="@(model.ProductDetailID)" >
                <td>
                    <a class="btn-open-window" data-url="/Products/ChooseDetail?pid=@(model.ProductID)&did=@(model.ProductDetailID)" href="javascript:void(0);" data-name="产品详情页-@(model.ProductName)" data-id="@(model.ProductID)">@(model.ProductName)</a>
                </td>
                <td>@(model.Remark)</td>
                <td class="center">@(model.UnitName)</td>
                <td class="center tr-quantity"><input  type="text" data-id="@(model.AutoID)" data-value="@(model.Quantity)" class="quantity width50" value="@(model.Quantity)" /></td>
                <td class="center">
                    <a class="iconfont ico-del" href="javascript:void(0)" title="删除" data-id="@(model.ProductDetailID)"></a>
                </td>
            </tr>
        }
    </table>
    <div class="mTop20">
        <div class="btn right" id="btnconfirm">提交报溢单</div>
    </div>
</div>
