@{
    ViewBag.Title = "公司信息";
}

@section css{
    <link href="/modules/css/system.css" rel="stylesheet" />
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/client"], function (obj) {
            obj.init(@ViewBag.Option);
        });
    </script>
}
<style type="text/css">
    .company-logo { position:absolute;top:80px; right:50px; width:100px; }
</style>
<div class="header-box">
     <div class="left header-title bolder" id="divCompanyName"></div>
     <div class="left iconfont  ico-edit mLeft20" id="updateClient"></div>
     <a href="javascript:void(0);" data-url="/Auction/BuyNow" id="buyClient" data-name="购买服务" data-id="auction" class="right btn btn-buy btn-open-window">立即购买</a>
</div>

<div class="content-body mTop10">
    <ul class="content-info">
            <li>
                <span class="column-title">公司名称：</span>
                <span id="lblCompanyName"></span>
            </li>

            <li>
                <span class="column-title">联系人：</span>
                <span id="lblContactName" ></span>
            </li>
            <li>
                <span class="column-title">联系电话：</span>
                <span id="lblMobilePhone"></span>
            </li>
            <li>
                <span class="column-title">办公电话：</span>
                <span  id="lblOfficePhone"></span>
            </li>
            <li>
                <span class="column-title">行业：</span>
                <span id ="lblIndustry"> 
                </span>
            </li>
              <li>
                <span class="column-title">授权人数：</span><span id="UserQuantity"></span>
            </li>
            <li>
                <span class="column-title">地址：</span>
                <span id="lblcitySpan"> </span>
            </li>
           <li>
                <span class="column-title">到期时间：</span><span id="EndTime"></span>
            </li>
             <li>
                <span class="column-title">详细地址：</span>
                <span id="lblAddress"></span>
            </li>
            
            <li>
                <span class="column-title">剩余时间：</span><span id="agentRemainderDays"></span><span>天</span>
            </li>
    @*        <li>
                <span class="column-title">备注：</span>
                <p id="lblDescription"></p>
            </li>*@
        <li class="hide">
            <select id="industrytemp">
                @foreach (CloudSalesEntity.Industry model in (List<CloudSalesEntity.Industry>) ViewBag.Industry)
                {
                    <option value="@(model.IndustryID)" data-name="@(model.Name)">@(model.Name)</option>
                }
                <option value="">其他行业</option>
            </select>
        </li>
    </ul>
    <img class="company-logo" src="" id="posterDisImg" alt=""/>
</div>
<div class="tab-nav">
    <ul class="search-tab search-nav-box">
        <li  class="hover" data-id="navOrders">订单列表</li>
        <li data-id="navOrderLog">授权记录</li>       
    </ul>
</div>
<div class="content-body">
    <div id="navOrders" class="nav-part">
        <div class="mTop20">
            <div id="OrderTypes" class="left"></div>
            <div id="OrderStatus" class="left mLeft20"></div>
            <div class="left mLeft20" title="订单时间">
                <input type="text" id="iptCreateTime" placeholder="订单时间" class="ipt-date"  />
            </div>
            <div class="clear"></div>
        </div>
        <table class="table-list mTop10">
            <tr class="tr-header" id="client-order">
                <td class="tLeft minwidth70">订单时间</td>
                <td class="width200">购买人数</td>
                <td class="width150">购买年数</td>
                <td class="width150">金额</td>
                <td class="width200">订单类型</td>
                <td class="width200">订单状态</td>
                <td class="width150">创建人</td>
                <td class="width150">操作</td>
            </tr>
        </table>

        <div id="pager" class="mTop20"></div>
    </div>

    <div class="hide nav-part" id="navOrderLog">
        <table class="table-list" id="tb-clientLog">
            <tr class="tr-header" id="client-header">
                <td class="tLeft">授权类型</td>
                <td class="">授权方式</td>
                <td class="">授权人数</td>
                <td class="">开始时间</td>
                <td class="">结束时间</td>
                <td class="width150">创建时间</td>
            </tr>
        </table>
        <div id="pager2" class="mTop20"></div>
    </div>
</div>

<ul class="dropdown-ul hide" style="width:110px;">
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"108020702"))" id="PayClientOrder">继续付款</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"108020703"))" id="CloseClientOrder">关闭</li>
</ul>
