@{
    ViewBag.Title = "单位设置";
}

@section css{
    <link rel="stylesheet" href="/modules/css/products.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/unit"], function (unit) {
            unit.init();
        });
    </script>
}
@*<div class="header-box">
    <span class="header-title left">单位设置</span>
</div>*@
<div class="content-body mTop20">
    <ul class="unit-list">
        @foreach (var item in (List<CloudSalesEntity.ProductUnit>)ViewBag.Items)
        {
            <li class="unit-item"><input type="text" data-id="@(item.UnitID)" data-value="@(item.UnitName)" value="@(item.UnitName)" />
                <span data-id="@(item.UnitID)" class="ico-delete @(ExpandClass.IsLimits(HttpContext.Current,"103010102"))"></span></li>
        }
       
        <li id="addUnit" class="hand">
            <span class="iconfont ico-add left @(ExpandClass.IsLimits(HttpContext.Current,"103010201"))"></span>
            <span class="left mLeft5">添加</span>
        </li>
    </ul>
    
</div>
