@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    var model = (IntFactory.Sdk.OrderResult)ViewBag.DetailItem;
    var order = model.order;
    var colorModel = model.order.saleAttrs;
    var attrModel = model.order.attrLists;
}
@section css{
    <link href="/modules/css/myaccount/detail.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use("/modules/scripts/myaccount/historyorderdetail", function (obj) {
            obj.init();
        });
    </script>
}
<div class="img-box">
    <img src="/modules/images/defaultavatar.png" />
</div>
<div class="product-info">
    <div class="model-box">
        <div class="describe">产品名称：</div>
        <div class="content-box">@(order.intGoodsCode+order.goodsName)</div>
    </div>
    <div class="model-box mTop10">
        <div class="describe">价格区间：</div>
        <div class="content-box">
            @(order.finalPrice)
        </div>
    </div>
    <div class="add-shopping right mRight10 mTop30">立即下单</div>
    <div class="clear"></div>

    <!--选择规格-->
    <div>
        <div class=" mBottom20 mTop20">
            @{
                foreach (var colorItem in colorModel)
                {
                    <div class="color-box" data-id="@colorItem.attrID" >
                       <div class="left" style="text-indent:10px;">
                           @colorItem.attrName：
                       </div>
                    @{
                        for (int i = 0; i < colorItem.attrValues.Count; i++)
                        {
                            var color = colorItem.attrValues[i];
                            <div class="left color-item @(i==0?"hover":"")" data-value="@color.valueName" data-id="@color.valueID">
                                @color.valueName
                            </div>
                        }
                    }  
                    </div>
                }
            }
            <div class="clear"></div>
        </div>
        <div class=" mBottom20 mTop20">
            @{
                foreach (var attrItem in attrModel)
                {
                    <div class="attr-box" data-id="@attrItem.attrID" >
                       <div class="left" style="text-indent:10px;">
                           @attrItem.attrName：
                       </div>
                       <div class="left">
                        @{
                            for (int i = 0; i < attrItem.attrValues.Count; i++)
                            {
                                var attr = attrItem.attrValues[i];
                                <div>
                                    <div class="left">@attr.valueName</div>
                                    <div class="right"><input type="text" data-name="@attr.valueName" data-value="@attr.valueName" data-id="@attr.valueID" value="0" class="@attr.valueID txt-model" /></div>
                                    <div class="clear"></div>
                                </div>
                            }
                        }  
                        </div>
                    </div>
                }
            }
            <div class="clear"></div>
        </div>
        <div class="mLeft50">
            价格：<span class="total-price"></span>
        </div>
    </div>

    <!--菜单选项-->
    <div class="content-menu">
        <div class="left mRight10 mLeft10 menu-module hover" id="plate-module">制版信息</div>
        <div class="left menu-module" id="materials-module">材料信息</div>
        <div class="clear"></div>
    </div>
    <div class="content-main">
        <div class="plate-info" data-module="plate-module">
            <div class="mBottom10">
                <p style="text-indent:10px;">制版工艺</p>
                <div id="plateMarking">
                    @(new MvcHtmlString(Server.UrlDecode(order.platemaking)))
                </div>
            </div>
            <div class="">
                <p>工艺说明</p>
                <div id="plateDescribe">
                    <table class="table-list">
                        <tr class="tr-header">
                            <td>类型</td>
                            <td>图标</td>
                            <td>名称</td>
                            <td>描述</td>
                        </tr>
                        @{
                            for (int i = 0; i < order.plateMakings.Count; i++)
                            {
                                var item = order.plateMakings[i];
                                <tr class="list-item" id="tr-plate-{%=item.PlateID%}">
                                    <td class="center">@(item.type==1?"裁剪":item.type==2?"粘衬":item.type==3?"缝制工艺":item.type==4?"成衣整烫":item.type==5?"成衣检验":"成品包装")</td>
                                    <td class="center"><img style="width:30px;height:30px;" src="@item.icon" /></td>
                                    <td class="center">@(item.title)</td>        
                                    <td class="center">@(item.remark)</td>  
                                </tr>
                            }
                         }
                    </table>
                </div>
            </div>
        </div>
        <div class="hide materials-info" data-module="materials-module">
           
                <table class="table-list">
                    <tr class="tr-header">
                        <td>图片</td>
                        <td>名称</td>
                        <td>价格</td>
                        <td>单位</td>
                    </tr>
                    @{
                    foreach (var material in order.details)
                    {
                        <tr>
                            <td class="center"><img src="@material.productImage" /></td>
                            <td class="center">@(material.productName)</td>
                            <td class="center">@(material.price.ToString("f2"))</td>
                            <td class="center">@(material.unitName)</td>
                        </tr>
                    } 
                    }  
                </table> 
           
        </div>
    </div>
    <div class="product-list hide">
        <table class="table-list">
            <tr class="tr-header">
                <td>产品名称</td>
                <td>单价</td>
                <td>数量</td>
                <td class="tRight">小计</td>
                <td>删除</td>
            </tr>
            <tr>
                <td colspan="4" class="tRight">
                    总计：<span class="total-pirce"></span>
                </td>
                <td class="center"></td>
            </tr>
        </table>
    </div>
</div>