@{
    ViewBag.Title = "新建采购单";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/purchase/confirmpurchase"], function (obj) {
            obj.init('@(ViewBag.guid)','@Html.ToJSONString((List<CloudSalesEntity.WareHouse>)ViewBag.wares)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">提交采购单</span>
    <a class="btn right" href="/Purchase/ChooseProducts">继续选择产品</a>
    <div class="btn right mRight10" id="btnChooseProduct">快速选择产品</div>
</div>
<div class="content-body mTop20">
    <table class="table-items-detail mBottom20">
        @if (((Dictionary<string, string>)ViewBag.providers).Keys.Count == 0)
        {
             <tr class="item-header">
                <td class="width30 check-all"><span class="checkbox iconfont"></span></td>
                <td class="tLeft">产品名称</td>
                <td class="tLeft">规格</td>
                <td class="">采购价</td>
                <td class="">数量</td>
                <td class="">小计</td>
                <td class="">删除</td>
            </tr>
            <tr class="line-item">
                <td colspan="10">
                    <div class='nodata-txt' >暂无选择产品</div>
                </td>
            </tr>
        }
        
        @foreach (var item in (Dictionary<string, string>)ViewBag.providers)
        {
            <tr class="item-header">
                <td class="width30"><span data-id="@item.Key" class="checkbox check-part iconfont"></span></td>
                <td class="tLeft bolder">
                    供应商：@item.Value
                </td>
                <td class="tLeft">规格</td>
                <td class="">采购价</td>
                <td class="">数量</td>
                <td class="">小计</td>
                <td class="">删除</td>
            </tr>
            foreach (var model in (List<CloudSalesEntity.ProductDetail>)ViewBag.items)
            {
                if (model.ProviderID == item.Key)
                {
                    <tr class="item cart-item" data-autoid="@(model.AutoID)" data-id="@(model.ProductDetailID)" >
                        <td class="bBottom"><span data-id="@item.Key" class="checkbox iconfont"></span></td>
                        <td class="tLeft bBottom">
                            <a class="btn-open-window" data-url="/Products/ChooseDetail?pid=@(model.ProductID)&did=@(model.ProductDetailID)" href="javascript:void(0);" data-name="产品详情页-@(model.ProductName)" data-id="@(model.ProductID)">@(model.ProductName)</a>
                        </td>
                        <td class="bBottom tLeft">@(model.Remark)</td>
                        <td class="tr-price bBottom">
                            <input type="text" data-id="@(model.AutoID)" data-value="@(model.Price.ToString("f2"))" class="price width80" value="@(model.Price.ToString("f2"))" />
                        </td>
                        <td class="tr-quantity bBottom">
                            <input  type="text" data-id="@(model.AutoID)" data-value="@(model.Quantity)" class="quantity width50" value="@(model.Quantity)" />
                        </td>
                        <td class="amount bBottom">@((model.Price * model.Quantity).ToString("f2"))</td>
                        <td class="bBottom"><a class="iconfont ico-del" href="javascript:void(0)" title="删除" data-id="@(model.ProductDetailID)"></a></td>
                    </tr>
                }
            }
             <tr class="line-item">
                <td colspan="10"></td>
            </tr>
        }
        <tr class="item-header">
            <td colspan="2" class="tLeft">
                <div class="check-all hand mLeft10"><span class="checkbox iconfont"></span> 全选</div> 
            </td>
            <td class=""></td>
            <td class=""></td>
            <td class="">合计：</td>
            <td class=""><label id="amount"></label></td>
            <td class=""></td>
        </tr>
    </table>
    <div class="clear"></div>
    <div class="right" id="wareid"></div>
    <div class="clear"></div>
    <input type="text" placeholder="备注" id="remark" class="width500 mTop10 right" />
    <div class="clear"></div>
    <div class="mTop20">
        <div class="btn right" id="btnconfirm">提交采购单</div>
        <a class="btn999 right mRight10" href="/Purchase/ChooseProducts">继续选择产品</a>
    </div>
    <div class="clear"></div>
</div>
