@{
    
}
@section css{
    <link href="/modules/css/stock.css" rel="stylesheet" />
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/purchase/purchases"], function (obj) {
            obj.init('@ViewBag.Type','@Html.ToJSONString((List<CloudSalesEntity.WareHouse>)ViewBag.Wares)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">采购管理</span>

    <div class="right  @(ExpandClass.IsLimits(HttpContext.Current, "103029001"))"  >
        <span id="btnCreate" class="pLeft2 btn-add left" style="color: #fff;-moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px;-moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius:0px;border-bottom-right-radius: 0px; border-top-right-radius: 0px;" >新建采购</span>
        <div id="dropdown" class="bghulan rightraduis3 right " style="height:28px;width:20px;">
            <span class="mTop8 mRight5 ico-dropdown-white right"></span>
        </div>
    </div>

</div>
<div class="search-header">
    <div class="left" title="采购时间">
        <input type="text" id="iptCreateTime" placeholder="采购时间" class="ipt-date"  />
    </div>
    <div class="btn-filter right"></div>
    <div class="right searth-module mRight20" data-text="关键字搜索..." data-width="160"> </div> 
</div>
<div class="search-body">
    <div class="search-item">
        <div class="name">状态</div>
        <ul class="search-status">
            <li data-id="-1" class="hover">全部</li>
            <li data-id="0" class="">待审核</li>
            <li data-id="1" class="">部分入库</li>
            <li data-id="2" class="">已入库</li>
            <li data-id="4" class="">已作废</li>
        </ul>
    </div>
    <div class="search-item">
        <div class="name">供应商</div>
        <ul class="search-providers">
            <li data-id="" class="hover">全部</li>
            @foreach (var item in (List<CloudSalesEntity.ProvidersEntity>)ViewBag.Providers)
            { 
                <li data-id="@(item.ProviderID)">@(item.Name)</li>
            }
        </ul>
    </div>
   <div class="search-item">
        <div class="name">仓库</div>
        <ul class="search-wares">
            <li data-id="" class="hover">全部</li>
            @foreach (var item in (List<CloudSalesEntity.WareHouse>)ViewBag.Wares)
            { 
                <li data-id="@(item.WareID)">@(item.Name)</li>
            }
        </ul>
    </div>
</div>
<div class="content-body mTop20">
    <table class="table-list">
        <tr class="tr-header">
            <td class="width30">全选</td>
            <td class="tLeft">采购单号</td>
            <td class="tLeft">仓库</td>
            <td class="tLeft">供应商</td>
            <td class="width100">状态</td>
            <td class="tRight width150">采购总额</td>
            <td class="tRight width150">已采购金额</td>
            <td class="width150">采购员</td>
            <td class="width200">采购日期</td>
            <td class="width80">操作</td>
        </tr>
    </table> 
    <div class="mTop20">
        <ul class="left"> 
            <li class="hand left width80 mLeft5" id="checkAll">
                <span class="checkbox iconfont mTop5 mRight5"></span>全选
            </li>
            <li class="left">
                <a href="javascript:void(0);" class="btn" id="printOrderOut" >
                     <i class="left iconfont mRight5" style="margin-left: -5px;color:aliceblue">&#xe658;</i>打 印
                </a>
            </li>
        </ul>
        <div id="pager"></div>
        <div class="clear"></div>
    </div>  
</div>
<ul id="opeardropdown" class="dropdown-ul hide" style="width: 65px;">
    <li class="@(ExpandClass.IsLimits(HttpContext.Current, "103029002"))" id="audit">审核</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current, "103029003"))" id="invalid">作废</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current, "103029004"))" id="delete">删除</li>
</ul>

<ul id="exceldropdown" class="dropdown-ul hide" style="width: 100px;">
    @*<li class="" id="exportPurchases">导入采购单</li>*@
    <li class="" id="exportPurchases">导出采购单</li> 
</ul>