@{
    ViewBag.Title = "款式详情";
    var order = (IntFactory.Sdk.OrderEntity)ViewBag.Model;
    var user = (CloudSalesEntity.Manage.Clients)ViewBag.baseUser;
    var client = (CloudSalesEntity.Manage.Clients)ViewBag.Client;
}
@section css{
    <link href="/modules/m/css/style/detail.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript">
        $(function () {
            seajs.use("/modules/m/scripts/style/detail", function (obj) {
                obj.init(
                    '@Html.ToJSONString(order)',
                    '@Html.ToJSONString(user)'
                 );
            });
        });
    </script>
}
<header>
        <a class="btn-return" href = "javascript:if(history.length>1){ history.go(-1);} else{location.href='/m/home/index'}"><i class="return-icon iconfont">&#xe60a;</i></a>
        <div class="mLeft50 font16"> 款式详情</div>
    </header>

<div class="main_visual mTop40">
    <div class="main_image">
        <ul>
            <li><img style="width:100%;" src="@order.orderImage"></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
    
<!--任务信息-->
<div class="task-info">
    <div class="main-info">
        <ul class="mLeft10 mRight10">
            <li class="long" style="display:block;">
                <div class="task-code base-info">@(string.IsNullOrEmpty(order.goodsName) ? "--" : order.intGoodsCode)</div>
            </li>
             <li>
                <div class="task-code base-info">
                    <span>加工品类：</span>
                    <span class="mLeft5">@(string.IsNullOrEmpty(order.processCategoryName)?"--":order.processCategoryName)</span>
                </div>
            </li>
            <li>
                <div class="task-code base-info">
                    <span>类别：</span>
                    <span class="mLeft5">@(string.IsNullOrEmpty(order.categoryName)?"--":order.categoryName)</span>
                </div>
            </li>
            <li>
                <div class="left blue">￥ <span style="font-size:26px;">@(order.finalPrice.ToString("f2"))</span></div>
                <div class="btn-addOrder right">立即下单</div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<!--菜单-->
<nav>
    <ul>
        <li class="menuchecked" data-classname="description"><i class="iconfont">&#xe625;;</i>店铺信息</li>
    </ul>
    <div class="clear"></div>
</nav>

<div class="main-box">
    <div class="description">
        <ul class="table-add">
            <li>
                    <span class="column-title">店铺名称：</span>
                    <span>@(client.CompanyName)</span>
                </li>
                <li>
                    <span class="column-title">店铺编码：</span>
                    <span>@client.ClientCode</span>
                </li>
                <li>
                    <span class="column-title">联系人：</span>
                    <span>@(client.ContactName)</span>
                </li>
                <li>
                    <span class="column-title">联系电话：</span>
                   <span>@(client.MobilePhone)</span>
                </li>
               <li>
                    <span class="column-title">地址：</span>
                    <span>@(client.City==null?"--":client.City.Description)</span>
                </li>
            </ul>
    </div>
</div>

<div class="overlay-addOrder"></div>
<input hidden="hidden" data-id="@ViewBag.EDJProviderID" id="EDJProvider" />

    
