@{
    ViewBag.Title = "款式详情";
    var order = (IntFactory.Sdk.OrderEntity)ViewBag.Order;
    var currentClient = (CloudSalesEntity.Manage.Clients)ViewBag.CurrentClient;
    var providerClient = (CloudSalesEntity.Manage.Clients)ViewBag.ProviderClient;
    var imgs = string.IsNullOrEmpty(order.orderImages) ? new string[] { } : order.orderImages.Split(',');
}
@section css{
    <link href="/modules/m/css/style/detail.css" rel="stylesheet" />
    <link href="/modules/m/plug/swiper/css/swiper.min.css" rel="stylesheet" />
    <link href="/modules/m/plug/swiper/css/swiper.css" rel="stylesheet" />
}
@section scripts{
    @{
        if (imgs.Length > 1)
        {
        <script src="/modules/m/plug/swiper/swiper.min.js"></script>
        }
    }
    <script type="text/javascript">
        $(function () {
            seajs.use("/modules/m/scripts/style/detail", function (obj) {
                obj.init(
                    '@Html.ToJSONString(order)',
                    '@Html.ToJSONString(currentClient)',
                    '@imgs.Length'
                 );
            });
        });
    </script>
}
<header>
        <a class="btn-return" href = "javascript:if(history.length>1){ history.go(-1);} else{location.href='/m/home/index'}"><i class="return-icon iconfont">&#xe60a;</i></a>
        <div class="mLeft50 font16"> 款式详情</div>
    </header>

@*<div class="main_visual mTop40">
    <div class="main_image">
        <ul>
            <li><img style="width:100%;height:400px;" src="@order.orderImage"></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>*@
  <div class="swiper-container" style="margin-top:50px;">
        <div class="swiper-wrapper">
            @{
                foreach (var img in imgs)
                {
                <div class="swiper-slide">
                    <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                    <img data-src="@img" class="swiper-lazy">
                    <!-- Preloader image -->
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                }
            }
        </div>
      
      @{
          if (imgs.Length > 1)
          {
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Navigation -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        }
          }
    </div>
<!--任务信息-->
<div class="task-info">
    <div class="main-info">
        <ul class="mLeft10 mRight10">
            <li class="long" style="display:block;">
                <div class="task-code base-info">@(string.IsNullOrEmpty(order.goodsName) ? "--" : order.intGoodsCode)</div>
            </li>
             <li>
                <div class="task-code base-info">
                    <span>加工品类：</span>
                    <span class="mLeft5">@(string.IsNullOrEmpty(order.processCategoryName) ? "--" : order.processCategoryName)</span>
                </div>
            </li>
            <li>
                <div class="task-code base-info">
                    <span>类别：</span>
                    <span class="mLeft5">@(string.IsNullOrEmpty(order.categoryName) ? "--" : order.categoryName)</span>
                </div>
            </li>
            <li>
                <div class="left blue">￥ <span style="font-size:26px;">@(order.finalPrice.ToString("f2"))</span></div>
                <div class="btn-addOrder right">立即下单</div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<!--菜单-->
<nav>
    <ul>
        <li class="menuchecked" data-classname="description"><i class="iconfont">&#xe625;;</i>店铺信息</li>
    </ul>
    <div class="clear"></div>
</nav>

<div class="main-box">
    <div class="description">
        <ul class="table-add">
                <li>
                    <span class="column-title">店铺名称：</span>
                    <span>@(providerClient.CompanyName)</span>
                </li>
                <li>
                    <span class="column-title">店铺编码：</span>
                    <span>@providerClient.ClientCode</span>
                </li>
                <li>
                    <span class="column-title">联系人：</span>
                    <span>@(providerClient.ContactName)</span>
                </li>
                <li>
                    <span class="column-title">联系电话：</span>
                   <span>@(providerClient.MobilePhone)</span>
                </li>
               <li>
                    <span class="column-title">地址：</span>
                    <span>@(providerClient.City == null ? "--" : providerClient.City.Description)</span>
                </li>
            </ul>
    </div>
</div>

<div class="overlay-addOrder"></div>
<input hidden="hidden" data-id="@providerClient.ClientID" id="EDJProvider" />

    
