@{
    ViewBag.Title = "款式详情";
    var order = (IntFactory.Sdk.OrderEntity)ViewBag.Order;
    var user = (CloudSalesEntity.Users)ViewBag.baseUser;
    string[] imagesUrl = { };
    if (order.orderImages.Length != 0)
    {
        imagesUrl = order.orderImages.Trim(',').Split(',');
    }
}

@section css{
    <link href="/modules/m/css/style/detail.css" rel="stylesheet" />
    <link href="/modules/m/plug/touchSlider/css/style.css" rel="stylesheet" />
}
@section scripts{
    <script src="/modules/m/plug/touchSlider/js/jquery-1.js"></script>
    <script src="/modules/m/plug/touchSlider/js/jquery_002.js"></script>
    <script src="/modules/m/plug/touchSlider/js/jquery.js"></script> 
    <script type="text/javascript">
        $(function () {
            seajs.use("/modules/m/scripts/style/detail", function (obj) {
                obj.init(
                    '@(imagesUrl.Length)',
                    '@Html.ToJSONString(order)',
                    '@Html.ToJSONString(user)'
                 );
            });
        })
    </script>
}
<header>
        <a class="btn-return" href = "javascript:if(history.length>1){ history.go(-1);} else{location.href='/task/list'}"><i class="return-icon iconfont">&#xe60a;</i></a>
        <div class="mLeft50 font16">
            款式详情
        </div>
    </header>

    <div class="main_visual mTop50">
        <div class="flicking_con">
            @{
                if (imagesUrl.Length > 1)
                {
                    for (int i = 0; i < imagesUrl.Length; i++)
                    {
                        <a class="@(i == 0 ? "on" : "")" href="javascript:void(0);"></a>
                    }
                }
            }
        </div>
        <div class="main_image">
            <ul>
                @{
                    if (imagesUrl.Length > 0)
                    {
                        for (int i = 0; i < imagesUrl.Length; i++)
                        {
                            <li><img src="@(imagesUrl[i])"></li>
                        }
                    }
                }
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    
    <!--任务信息-->
    <div class="task-info">
        <div class="main-info">
            <ul class="mLeft10 mRight10">
                <li class="long" style="display:block;">
                    <div class="task-code base-info">@order.goodsName</div>
                </li>
                <li>
                    <div class="left blue">￥ <span style="font-size:26px;">@order.finalPrice.ToString("f2")</span></div>
                    <div class="btn-addOrder right">立即下单</div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <!--菜单-->
    <nav>
        <ul>
             <li  class="menuchecked" data-classname="plate-info"><i class="iconfont">&#xe617;</i>制版信息</li>
            <li   data-classname="plate-des"><i class="iconfont">&#xe647;</i>工艺说明</li>
        </ul>
        <div class="clear"></div>
    </nav>

    <div class="main-box">
        <div class="plate-info">
            @{
                if (!string.IsNullOrEmpty(order.platemaking))
                {
                    <div class="platemakingBody">@(new MvcHtmlString(Server.UrlDecode(order.platemaking)))</div>
                }
                else
                {
                    <div class="nodata-txt">暂无制版信息</div>
                }
            }
        </div>
        <div class="plate-des hide">
            <div class="mTop10 tb-plates"></div>
       </div>
    </div>
<div class="overlay-addOrder"></div>


    
